@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


 *{
     margin: 0;
     padding: 0;
}
 body{
    /* font-family: 'DM Sans', sans-serif;
     */
     font-family: 'Lato', sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 145%;
     color: #001F4B;
     letter-spacing: 0.01em;
}
/*--- header start ---*/
 .menu-bar{
     transition: all 0.4s ease;
     background: #FFFFFF;
     box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
     padding: 25px 1rem;
     transition: all 0.5s ease;
}
 .menu-bar.sticky {
     position: fixed;
     width: 100%;
     z-index: 1000;
     
}
 .menu-bar .navbar-nav.mr-auto{
     text-align: center;
     width: 100%;
     display: inline-flex;
     justify-content: flex-end;
     margin-left: 0;
     padding-right: 20px;
}
 .menu-bar .navbar-nav li a.nav-link{
     color: #161B1B;
     font-weight: 700;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 0.02em;
     text-align: center;
     padding: 10px 20px;
     position: relative;
}
 .menu-bar .navbar-nav li a.nav-link:hover{

     color: #0166FF;
}
 .menu-bar .navbar-nav li a.active.nav-link{
     color: #0166FF;
}
 .menu-bar .form-inline{
     display: inline-flex;
     flex-flow: inherit;
     width: 93%;
     justify-content: space-between;
}
 .menu-bar .form-inline a.login{
     font-weight: 600;
     font-size: 15px;
     line-height: 145%;
     text-align: center;
     letter-spacing: 0.01em;
     color: #1E1E1E;

}

 .hero-section{
     padding: 120px 0 80px 0;
}
 .bg-line-area{
     background: url(../img/dashed-style.svg) no-repeat center bottom 80px;
     position: relative;
}

/*--- header end ---*/

/*--- button start ---*/
 .btn-blue{
     background: #0166FF;
     border-radius: 6px;
     color: #fff;
     padding: 6px 30px;
     font-weight: 600;
     font-size: 16px;
     position: relative;
     height: 44px;
     display: inline-flex;
     align-items: center;
     justify-content: center;
}
 .btn-blue:hover{
     color: #fff;
}
 .border-btn{
     font-weight: 500;
     font-size: 18px;
     line-height: 20px;
     letter-spacing: 0.02em;
     color: #0166FF;
     border: 2px solid #0166FF;
     border-radius: 6px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 6px 20px;
     height: 44px;
     background:transparent;
}
/*--- button end ---*/

/*--- footer start ---*/
 .footer-top{
     background: #F4F5F9;
     padding: 10px 0;
     border-bottom: 1px solid #EEEEEE;
}

 .footer-top ul{
     display: inline-block;
     list-style: none;
     margin: 0;
}
 .footer-top ul li{
     display: inline-block;

}
 .footer-top ul li a{
     padding: 10px 15px;
     align-items: center;
     display: flex;
     justify-content: center;
}
 .footer-top ul li a:hover{
     text-decoration: none !important;
}

 .footer-top ul li a i{
     width: 1em;
     height: 1em;
     position: relative;
     display: inline-block;
     color: #6D6E73;
     font-size: 24px;
}

 .footer-mid{
     background: #F4F5F9;
     padding: 20px 0 30px;

}
 .nav-list-footer{
     padding-top: 30px;
}
 .nav-list-footer ul{
     list-style: none;
     margin: 0;
     padding: 0;
}
 .nav-list-footer ul li a{
     color: #54595F;
     font-weight: 400;
}
 .nav-list-footer ul li a:hover{
     text-decoration: none;
     opacity: 0.6;
}
 .nego-ftr p{
     color: #7A7A7A;
}
 .footer-btm{
     padding: 25px 15px;
     background: #ececec;
     text-align: center;
     color: #000;
     font-size: 12px;
     font-weight: 600;
}

/*--- footer end ---*/

/*--- login start ---*/

 .login-pnl{
     padding: 150px 0;
}
 .login-card h3{
     color: #001F4B;
     font-weight: 500;
     font-size: 24px;
     line-height: 130%;
     margin-bottom: 20px;
}

 .form-style1 form .form-group label{
     font-weight: 700;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 0.02em;
     color: #161B1B;
}
 .form-style1 form .form-group label sup{
     color: #FD3434;
     font-size: 16px;
     position: relative;
     top: 2px;
}

 .form-style1 form .form-control{
     background: #FFFFFF;
     box-shadow: 0px 1.25px 1.25px rgba(0, 0, 0, 0.1), 0px 0px 0px 1.25px rgba(70, 79, 96, 0.16);
     border-radius: 0;
}
 .form-style1 form .custom-checkbox{
     letter-spacing: 0.02em;
     font-weight: 400;
     font-size: 14px;
     line-height: 20px;
     color: #161B1B;
}
 .form-style1 form .custom-checkbox .custom-control-label::before{
     top: 0;
     background: #fff;
     border: 1px solid #969EA1;
}
 .form-style1 form .custom-checkbox .custom-control-label::after{
     top: 0;

}

 .form-style1 form .dnt-acount{
     font-weight: 400;
     font-size: 18px;
     line-height: 140%;
     letter-spacing: 0.02em;
     color: #161B1B;

}
 .form-style1 form .dnt-acount a{
     color: #0166FF;
     font-weight: 700;
}
 .grp-area {
     position: relative;
}
 .toggle-view {
     position: absolute;
     right: 10px;
     top: 4px;
     bottom: 0;
     background: transparent;
     border: none;
     color: #000;
     box-shadow: none !important;
     outline: none !important;
}
 .toggle-view i.fa.fa-eye{
     content: "";
     background: url(../img/eye.svg) no-repeat;
     width: 24px;
     height: 24px;
     background-size: 100%;

}
 .toggle-view i.fa.fa-eye.fa-eye-slash{
     background: url(../img/eye2.svg) no-repeat;
     width: 24px;
     height: 24px;
     background-size: 100%;

}
 .toggle-view i.fa.fa-eye::before{
     display: none;
}
 .reset-pass{
     letter-spacing: -0.01em;
     font-weight: 700;
     font-size: 16px;
     line-height: 140%;
     color: #0166FF;
}

 .iframe-video iframe{
     width: 100% !important;
}

 .sl-nav-ul {
     margin:0;
     padding:0;
     list-style: none;
     position: relative;
     display: inline-block;
}
 .sl-nav-ul li {
     cursor: pointer;
     padding-bottom:0;
     list-style: none;
}
 .sl-nav-ul li ul {
     display: none;
}
 .sl-nav-ul li:hover ul {
     position: absolute;
     top:29px;
     right:-15px;
     display: block;
     background: #fff;
     width: 120px;
     padding-top: 0px;
     z-index: 1;
     border-radius:5px;
     box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
 .sl-nav-ul li:hover .triangle {
     position: absolute;
     top: 15px;
     right: -10px;
     z-index:10;
     height: 14px;
     overflow:hidden;
     width: 30px;
     background: transparent;
}
 .sl-nav-ul li:hover .triangle:after {
     content: '';
     display: block;
     z-index: 20;
     width: 15px;
     transform: rotate(45deg) translateY(0px) translatex(10px);
     height: 15px;
     background: #fff;
     border-radius:2px 0px 0px 0px;
     /* box-shadow: 0px 0px 20px rgba(0,0,0,0.2); */
}
 .sl-nav-ul li ul li {
     position: relative;
     text-align: left;
     background: transparent;
     padding: 15px 15px;
     padding-bottom:0;
     z-index: 2;
     font-size: 15px;
     color: #3c3c3c;
}
 .sl-nav-ul li ul li:last-of-type {
     padding-bottom: 15px;
}
 .sl-nav-ul li ul li span {
     padding-left: 5px;
}
 .sl-nav li ul li span:hover, .sl-nav-ul li ul li span.active {
     color: #146c78;
}
/*--- login end ---*/
/*--- Home page start ---*/
 .home-banner{
     padding: 60px 0;
}
 .home-banner h1{
     font-weight: 800;
     font-size: 46px;
     line-height: 150%;
     letter-spacing: 0.02em;
     font-family: 'Lato', sans-serif;
     color: #000000;
}
 .home-banner h1 span{
     color: #0166FF;
}
 .home-banner p{
     font-weight: 500;
     font-size: 20px;
     line-height: 150%;
     text-align: center;
     letter-spacing: 0.02em;
     font-family: 'Lato', sans-serif;
     color: #969EA1;
}
 .home-banner figure{
     padding: 50px 50px 0;
}
 .fastest-section{
     background: #F4F5F9;
     padding: 80px 0;
}
 .h2-text{
     font-weight: 500;
     font-size: 36px;
     line-height: 150%;
     letter-spacing: 0.02em;
     color: #161B1B;
     font-family: 'Lato', sans-serif;
}
 .artile-1{
     font-weight: 500;
     font-size: 18px;
     line-height: 150%;
     letter-spacing: 0.02em;
     color: #969EA1;
}
 .cd-Box{
     background: #FFFFFF;
     border-radius: 10px;
     padding: 30px;
     height: 100%;
}
 .cd-Box h3{
     font-weight: 700;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 0.02em;
     color: #000000;
}
 .cd-Box p{
     font-weight: 500;
     font-size: 14px;
     line-height: 20px;
     letter-spacing: 0.02em;
     color: #969EA1;
}
 .white-common{
     padding: 80px 0;
}
 .quick-box{
     background: #F6F8FA;
     padding: 30px;
     height: 100%;
}
 .quick-box figure{
     margin-bottom: 40px;
}
 .quick-box h3{
     font-weight: 700;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 0.02em;
     color: #000000;
}
 .quick-box p{
     font-weight: 500;
     font-size: 14px;
     line-height: 20px;
     letter-spacing: 0.02em;
     color: #969EA1;
}
 .bg-gray-box{
     background: #F4F5F9;
}
 #testimonialCarousel .carousel-inner{
     overflow: initial;
     margin-top: 50px;
}
 #testimonialCarousel .carousel-item{
     padding: 0 100px;
}
 .client-img {
     width: 110px;
     height: 110px;
     overflow: hidden;
     position: relative;
     top: -50px;
     margin: 0 auto 0;
     border-radius: 10px;
}
 .carousel-content {
     padding: 0 0px 50px;
     background: #fff;
     border-radius: 10px;
}
 .carousel-content p{
     font-weight: 500;
     font-size: 18px;
     line-height: 150%;
     text-align: center;
     letter-spacing: 0.02em;
     color: #161B1B;
}
 .carousel-content h3{
     font-weight: 700;
     font-size: 16px;
     line-height: 20px;
     text-align: center;
     letter-spacing: 0.02em;
     color: #000000;
}
 .client-img img {
     width: 100%;
}
 #testimonial {
     text-align: center;
     padding: 40px 0px;
     color: #fff;
}
 #testimonial .carousel-control-prev, #testimonial .carousel-control-next {
     font-size: 36px;
}
 .over-hidded{
     overflow: hidden;
}
 #testimonialCarousel .carousel-control-prev, #testimonialCarousel .carousel-control-next{
     width: auto;
     opacity: 1;
}
 #testimonialCarousel .carousel-control-prev i, #testimonialCarousel .carousel-control-next i{
     width: 34px;
     height: 34px;
     background: #0166FF;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
}
 .video-frame2{
     text-align: center;
     padding: 40px 150px 0;
}
 .video-frame2 iframe{
     border: 10px solid #fff;
     border-radius: 10px;
}
 .how-it ul{
     margin: 30px 0 0;
     padding: 0;
     list-style: none;
}
 .how-it ul li{
     font-weight: 700;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 0.02em;
     color: #000000;
     margin-bottom: 15px;
     display: flex;
     align-items: center;
}
 .how-it ul li img{
     position: relative;
     margin-right: 15px;
}
 .small-heading{
     font-weight: 500;
     font-size: 18px;
     line-height: 150%;
     letter-spacing: 0.02em;
     color: #969EA1;
}
 .faq-nav ul{
     margin: 0;
     padding: 0;
     list-style: none;
}
 .faq-nav ul li{
     margin-bottom: 15px;
     display: inline-block;
     width: 100%;
     position: relative;
}
 .faq-nav ul li a{
     font-weight: 500;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 0.02em;
     color: #969EA1;
     position: relative;
     padding: 10px 12px;
     padding-right: 20px;
     border: 1px solid #969EA1;
     border-radius: 6px;
     width: 100%;
     display: inline-block;
     text-decoration: none;
}
 .faq-nav ul li a i{
     position: absolute;
     right: 12px;
     top: 12px;
}
 .faq-nav ul li a:hover{
     color: #0166FF;
     border: 1px solid #0166FF;
}
 .faq-nav ul li a.active{
     color: #0166FF;
     border: 1px solid #0166FF;
}
 .faq-content-box{
     border: 1px solid #E9EDF5;
     border-radius: 10px;
     padding: 30px;
     background: #fff;
     margin-bottom: 15px;
}
 .faq-content-box h3{
     font-weight: 600;
     font-size: 18px;
     line-height: 150%;
     letter-spacing: 0.02em;
     color: #161B1B;
}
 .faq-content-box p{
     font-weight: 500;
     font-size: 14px;
     line-height: 20px;
     letter-spacing: 0.02em;
     color: #969EA1;
}
 .faq-content-box p:last-child{
     margin-bottom: 0;
}
 .st-content h4{
     font-weight: 700;
     font-size: 24px;
     line-height: 130%;
     letter-spacing: 0.02em;
     color: #161B1B;
}
 .st-content p{
     font-weight: 500;
     font-size: 18px;
     line-height: 150%;
     letter-spacing: 0.02em;
     color: #969EA1;
     margin-bottom: 25px;
}
 .ceoMail{
     padding: 45px 0 80px 0;
}
 .welcome-nehotitate{
     padding: 70px 100px;
     background: #F4F5F9;
     border-radius: 10px;
     margin-bottom: 40px;
     text-align: center;
}
 .welcome-nehotitate h1{
     font-weight: 500;
     font-size: 36px;
     line-height: 150%;
     text-align: center;
     letter-spacing: 0.02em;
     color: #000000;
}
 .welcome-nehotitate p{
     font-weight: 500;
     font-size: 18px;
     line-height: 150%;
     text-align: center;
     letter-spacing: 0.02em;
     color: #969EA1;
}
 .welcome-nehotitate p strong{
     color: #161B1B;
}
 .ceoMail h5{
     font-weight: 500;
     font-size: 18px;
     line-height: 150%;
     letter-spacing: 0.02em;
     color: #000000;
}
 .ceoMail .dv-tag p{
     font-weight: 500;
     font-size: 18px;
     line-height: 150%;
     letter-spacing: 0.02em;
     color: #969EA1;
}
 .check-step{
     margin-bottom: 70px;
     position: relative;
     text-align: center;
}
 .w-650{
     width: 650px;
     display: inline-flex;
     position: relative;
}
 .w-650::after{
     position: absolute;
     top: 0;
     left: 67px;
     right: 67px;
     height: 1px;
     background: #DFDFDF;
     content: "";
}
 .w-25-1{
     width: 25%;
     text-decoration: none !important;
}
 .w-25-1:hover h4{
     color: #0166FF;
}
 .w-25-1.select h4{
     color: #161B1B;
}
 .w-25-1:hover span{
     background-color: #0166FF;
}
 .w-25-1.select.active h4{
     color: #0166FF;
}
 .w-25-1.select.active span{
     background-color: #0166FF;
}
 .w-25-1 div{
     display: flex;
     align-items: center;
     justify-content: center;
}
 .w-25-1 span{
     background: #DFDFDF;
     width: 33px;
     height: 33px;
     border-radius: 50%;
     margin-bottom: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: -18px;
     position: relative;
     z-index: 1;
}
 .w-25-1.select.active span::after{
     position: absolute;
     left: 20px;
     top: 18px;
     height: 1px;
     width: 164px;
     content: "";
     background: #0166FF;
}
 .w-25-1 h4{
     font-weight: 500;
     font-size: 18px;
     line-height: 150%;
     letter-spacing: 0.02em;
     color: #969EA1;
}
 .afford-to-pay{
     border: 1px solid #E9EDF5;
     border-radius: 10px;
     padding: 30px;
}
 .balance-box{
     background: #F4F5F9;
     border-radius: 10px;
     padding: 30px 30px 40px 30px;
}
 .balance-box h3{
     font-weight: 700;
     font-size: 24px;
     line-height: 130%;
     letter-spacing: 0.02em;
     color: #000000;
}
 .balance-box .sm-text{
     font-weight: 500;
     font-size: 14px;
     line-height: 20px;
     letter-spacing: 0.02em;
     color: #969EA1;
}
 .balance-box span{
     font-weight: 400;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 0.02em;
     color: #161B1B;
}
 .blue-text{
     color: #0166FF;
}
 .red-text{
     color: #FD3434;
}
 .green-text{
     color: #00AB4F;
}
 .right-bx h3{
     font-weight: 700;
     font-size: 24px;
     line-height: 130%;
     letter-spacing: 0.02em;
     color: #000000;
}
 .right-bx span{
     color: #0166FF;
}
 .yes-can{
     background: #F4F5F9;
     border-radius: 10px;
     padding: 25px;
     margin-top: 25px;
}
 .yes-can h4{
     font-weight: 600;
     font-size: 18px;
     line-height: 150%;
     letter-spacing: 0.02em;
     color: #000000;
     margin-bottom: 0;
}
 .yes-can p{
     font-weight: 500;
     font-size: 14px;
     line-height: 20px;
     letter-spacing: 0.02em;
     color: #969EA1;
     margin-bottom: 0;
}
 .media-flex{
     display: flex;
     align-items: center;
     position: relative;
}
 .media-flex div{
     padding-right: 135px;
     position: relative;
     width: 100%;
}
 .media-flex img{
     position: relative;
     margin-right: 15px;
}
 .position-right{
     position: absolute;
     right: 0;
     top: 50%;
     transform: translateY(-50%);
}
 .setup-plan h5{
     font-weight: 500;
     font-size: 24px;
     line-height: 130%;
     color: #001F4B;
     margin-bottom: 30px;
}
 .form-style1 .custom-select{
     box-shadow: 0px 1.25px 1.25px rgb(0 0 0 / 10%), 0px 0px 0px 1.25px rgb(70 79 96 / 16%);
     border-radius: 0;
     background: #fff url(../img/up-down.svg) no-repeat right 0.75rem center;
}
 .form-style1.setup-plan label{
     margin-bottom: 0;
}
 .form-style1.setup-plan small{
     font-weight: 500;
     font-size: 14px;
     line-height: 20px;
     letter-spacing: 0.02em;
     color: #969EA1;
     margin-bottom: 5px;
     display: inline-block;
     width: 100%;
}
 .form-style1.setup-plan .input-group-text{
     background: #F6F8FA;
     box-shadow: 0px 1.25px 1.25px rgb(0 0 0 / 10%), 0px 0px 0px 1.25px rgb(70 79 96 / 16%);
}
 .calenderSec{
     background: #FFFFFF;
     border: 1px solid #E9EDF5;
     border-radius: 10px;
     width: 100%;
     padding:30px 20px 20px 20px;
}
 .calenderSec .calendar{
     width: 100%;
}
 .calenderSec .calendar-head-card{
     display: none;
}
 .calenderSec .calendar-date-holder .calendar-dates .date a{
     font-size: 20px;
     padding: 15px 6px;
}
 .calenderSec .calendar-grid .calendar-labels span{
     font-size: 20px;
     color: rgba(60, 60, 67, 0.6);
     padding: 15px 0;
}
 .calenderSec .calendar-grid .calendar-date-holder{
     height: 300px;
}
 .calenderSec .calendar-top-selector{
     justify-content: space-between;
     display: flex;
}
 .calenderSec .calendar-top-selector .calendar-curr-month{
     font-weight: 500;
     font-size: 20px;
     line-height: 28px;
     letter-spacing: 0.78012px;
     color: #000000;
}
 .calenderSec .calendar-next{
     color: #000000;
     font-size: 30px;
}
 .calenderSec .calendar-prev{
     color: #000000;
     font-size: 30px;
}
 .help-i h2{
     font-weight: 700;
     font-size: 24px;
     line-height: 130%;
     margin-bottom: 20px;
     text-align: center;
     letter-spacing: 0.02em;
     color: #000000;
}
 .help-i div .btn{
     margin: 5px 5px;
}
 .help-i div .border-btn{
     width: auto !important;
     display: inline-flex;
}
 .pp-bold-text{
     font-weight: 700;
     font-size: 24px;
     line-height: 130%;
     letter-spacing: 0.02em;
     color: #000000;
     margin-bottom: 15px;
}
 .text-are{
     font-weight: 500;
     font-size: 14px;
     line-height: 20px;
     letter-spacing: 0.02em;
     color: #969EA1;
     margin-bottom: 60px;
}
 .menu-bar.next-mnu-ber .form-inline{
     width: 50%;
}
 .logout-btn{
     color: #000000;
     font-size: 24px;
}
 .flex-radio{
     display: flex;
     align-items: center;
     padding-left: 0;
}
 .flex-radio div{
     position: relative;
     padding-left: 1.5rem;
     margin-right: 15px;
}
 .flex-radio div label{
     font-weight: 500 !important;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 0.02em;
     color: #464F60;
}
 .flex-radio div label::before{
     background: #FFFFFF;
    /* sd-button/default */
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(70, 79, 96, 0.16);
     border-radius: 100px;
}
 .setup-plan h5{
     font-weight: 500;
     font-size: 24px;
     line-height: 130%;
     margin-bottom: 20px;
     color: #001F4B;
}
 .label-relative{
     position: relative;
     padding-left: 30px;
     font-weight: 400;
     font-size: 18px;
     line-height: 140%;
     letter-spacing: 0.02em;
    font-style: italic;
     color: #161B1B;
}
.table-email{
    margin-bottom: 50px;
}

.table-email h1{
    font-weight: 500;
font-size: 36px;
line-height: 150%;
margin-bottom: 50px;
text-align: center;
letter-spacing: 0.02em;

color: #000000;

}
.table-desktop-style .dataTables_wrapper{
    position: relative;
    padding-top: 40px;
}
.table-desktop-style .dataTables_wrapper .dataTables_length{
position: absolute;
left: 0;
width: 150px;
top: -15px;

}
.table-desktop-style .dataTables_wrapper .dataTables_length label{
white-space: inherit;
font-weight: 600;
position: relative;
}
.table-desktop-style .dataTables_wrapper .dataTables_length label::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    background: #fff;
    width: 100%;
}


.table-desktop-style .dataTables_wrapper .dataTables_length select{
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
        appearance: none;
     background: #fff url(../img/up-down.svg) no-repeat right 0.25rem center;
}
.table-desktop-style table.dataTable{
        margin-top: 20px !important;
}

.table-desktop-style .dataTables_filter{
    position: absolute;
right: 0;
width: 200px;
top: -15px;
}

.table-desktop-style .dataTables_filter label{
    white-space: inherit !important;
font-weight: 600 !important;
}
.table-desktop-style .dataTables_filter input{
    width: 100% !important;
    position: relative;
    margin-left: 0 !important;
     border: 1px solid #ccc;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
}
.table-desktop-style table{
    border: 1px solid #E9EDF5;
    background: #fff;
    position: relative;
    z-index: 1;
}

.table-desktop-style table thead{
background: rgba(247, 249, 252, 0.8);
}
.table-desktop-style table thead th{
    font-weight: 500;
font-size: 12px;
line-height: 18px;
font-family: 'DM Sans', sans-serif;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #969EA1;
}
.table-desktop-style table thead th::before, .table-desktop-style table thead th::after{
    font-size: 18px !important;
}

.table-desktop-style table td{
    font-weight: 600;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.02em;
color: #161B1B;
vertical-align: middle;
}
.table-desktop-style table td a.btn{
    position: relative;
    margin-right: 5px;
}
.table-desktop-style table td a.btn:last-child{
    margin-right: 0;
}
.table-desktop-style .dataTables_info{
    display: none;
}
.table-desktop-style .paging_simple_numbers{
    width: auto;
    float: right;
    margin-top: 20px !important;
  
}
.table-desktop-style .paging_simple_numbers .paginate_button.previous{
    border-radius: 4px 0px 0px 4px !important;
    font-size: 18px;
}
.table-desktop-style .paging_simple_numbers .paginate_button.next{
    border-radius: 0 4px 4px 0 !important;
     font-size: 18px;
}


.table-desktop-style .paging_simple_numbers .paginate_button{
    background: #FFFFFF;
width: 44px;
height: 44px;
border: 1px solid #E0E2E7;
border-radius: 0;
display: inline-flex;
align-items: center;
justify-content: center;

font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #232325;
cursor: pointer;
text-decoration: none !important;
}
.table-desktop-style .paging_simple_numbers .paginate_button:hover{
      background: #0166FF;
      color: #fff;
}


.btn-blue2 {
    background: #0166FF;
    border-radius: 6px;
    color: #fff !important;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 12px;
    position: relative;
    letter-spacing: 0.02em;

}
.btn-green {
    background: #00AB4F;
    border-radius: 6px;
    color: #fff !important;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 12px;
    position: relative;
    letter-spacing: 0.02em;

}
.btn-red {
    background: #FD3434;
    border-radius: 6px;
    color: #fff !important;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 12px;
    position: relative;
    letter-spacing: 0.02em;

}

.from-content-box{
    border: 1px solid #E9EDF5;
border-radius: 10px;
padding: 30px;
}

.from-content-box h4{
    font-weight: 500;
font-size: 20px;
line-height: 130%;

color: #001F4B;
}
.swich-content{
    padding-right: 150px;
    position: relative;

}

.toggle-style{
    position: absolute;
    right: 30px;
    top: 0;
}
.toggle-style input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle-style label {
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.toggle-style label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 5px;
	width: 24px;
	height: 24px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.toggle-style input:checked + label {
	background: #0166FF;
}

.toggle-style input:checked + label:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

.toggle-style label:active:after {
	width: 60px;
}

.modal-new .modal-dialog{
    max-width: 650px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
}
.modal-new .modal-dialog .modal-content{
    border: none;
    border-radius: 10px;
}
.modal-new .modal-dialog .modal-header{
    padding: 30px;
    border-bottom: 1px solid #EEEEEE;
    position: relative;
}
.modal-new .modal-dialog .modal-header h5.modal-title{
    font-weight: 700;
font-size: 18px;
line-height: 150%;
letter-spacing: -0.01em;
color: #161B1B;
font-family: 'DM Sans', sans-serif;
}
.modal-new .modal-dialog .modal-header .close{
    padding: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    opacity: 1;
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 40px;
    top: 50px;
}
.modal-new .modal-dialog .modal-body{
    padding: 30px;
}

.modal-new .modal-dialog .modal-body h4{
    font-weight: 700;
font-size: 16px;
line-height: 20px;
margin-bottom: 20px;
letter-spacing: 0.02em;
color: #161B1B;
}
.modal-new .modal-dialog .modal-body p{
    font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.02em;
color: #161B1B;
}

.btn-black-border{
    background: #fff;
    border: 1px solid #000;
    border-radius: 6px;
    color: #000 !important;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 16px;
    position: relative;
}
.btn-black{
      background: #000;
    border: 1px solid #000;
    border-radius: 6px;
    color: #fff !important;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 16px;
    position: relative;
}
label.font18{
    font-size: 18px !important;
}
.sige18{
    font-weight: 600;
font-size: 18px;
line-height: 150%;
letter-spacing: 0.02em;
color: #161B1B;
}

 @media only screen and (min-width:768px) and (max-width:1024px){
    .menu-bar.next-mnu-ber .form-inline{
            width: 70%;
    }
    .balance-box span{
        font-size: 14px;
    }
    .balance-box strong{
        font-size: 14px;
    }
    .table-desktop-style table td .btn{
        margin-bottom: 5px;
    }
    .from-content-box{
        padding: 15px;
    }
 }


 @media only screen and (min-width:768px) and (max-width:1023px){
     .afford-to-pay .col-sm-12.col-md-4.col-lg-5.pr-5{
         padding-right: 15px !important;
    }
     .balance-box{
         padding: 15px;
    }
     .afford-to-pay{
         padding: 20px;
    }
     .right-bx{
         padding-left: 15px !important;
    }
     .yes-can{
         padding: 15px;
    }
     .position-right{
         top: 35px;
    }
    .table-desktop-style table td a.btn{
        margin-bottom: 5px;
    }
     .menu-bar .navbar-nav li a.nav-link{
        text-align: left;
        padding: 10px 0;
    }
    .navbar-collapse{
        position: relative;
    }
    .sl-nav-ul{
        position: absolute;
        top: 0;
        right: 0;
    }
    .menu-bar .form-inline{
        width: 100%;
    }
    .border-btn{
        font-size: 14px;
    }
    .menu-bar.next-mnu-ber .form-inline{
        width: 100%;
    }
.video-frame2{
    padding: 40px 0 0;
}
.balance-box .align-items-center{
    align-items: flex-start !important;
}
.calenderSec{
    padding:10px 0;
}
.flex-radio div label{
    font-size: 12px !important;
}
.sl-nav-ul li ul li{
    width: 100% !important;
    padding: 10px 15px !important;
}
.iframe-video.pl-5{
    padding-left: 0 !important;
}
}


 @media only screen and (max-width:767px){
     .footer-top .container.text-right{
         text-align: left !important;
    }
     .home-banner h1{
         font-size: 34px;
         line-height: normal;
    }
     br{
         display: none;
    }
     .home-banner p{
         font-size: 16px;
    }
     .h2-text{
         font-size: 30px;
         line-height: 44px;
    }
     #testimonialCarousel .carousel-item{
         padding: 0;
    }
     .quick-box{
         margin-bottom: 15px;
         height: auto;
    }
     .carousel-content p{
         font-size: 16px;
    }
     .carousel-content{
         padding: 0 20px 30px 20px;
    }
     .welcome-nehotitate{
         padding: 50px 20px;
    }
     .welcome-nehotitate h1{
         font-size: 30px;
    }
     .w-650{
         width: 100%;
    }
     .w-650::after{
         left: 57px;
         right: 57px;
    }
     .w-25-1 h4{
         font-size: 12px;
    }
     .balance-box{
         padding: 15px;
    }
     .afford-to-pay .col-sm-12.col-md-4.col-lg-5.pr-5{
         padding-right: 15px !important;
         margin-bottom: 15px;
    }
     .afford-to-pay .col-sm-12.col-md-8.col-lg-7.right-bx {
         padding-left: 15px !important;
    }
     .yes-can{
         padding: 15px;
    }
     .position-right{
        position: relative;
         margin-top: 15px;
         top: initial;
         transform: initial;
    }
     .media-flex div{
         padding-right: 0;
    }
     .media-flex{
         align-items: flex-start;
    }
     .right-bx h3{
         font-size: 18px;
    }
     .check-step{
         margin-bottom: 30px;
    }
     .balance-box{
         display: inline-block !important;
         width: 100%;
    }
     .setup-plan{
         padding-right: 0 !important;
         margin-bottom: 20px;
    }
     .afford-to-pay{
         padding: 15px;
    }
     .calenderSec{
         padding: 0;
    }
    .table-responsive2{
        overflow-x: auto;
    }
   .table-desktop-style .dataTables_filter{
        top: -5px;
   }
   .table-desktop-style .dataTables_wrapper .dataTables_length{
    top: -5px;
   }
    .table-desktop-style table td a.btn{
        margin-bottom: 5px;
    }
    .sl-nav-ul li{
        width: 50px;
    }
    .modal-new .modal-dialog{
        position: relative;
            transform: translate(0, 0) !important;
            top: initial;
            left: initial;
                margin: 0.5rem !important;
    }
    .btn-black{
        font-size: 12px;
            padding: 10px 10px;
    }
    .btn-black-border{
        font-size: 12px;
            padding: 10px 10px;
    }
    .modal-new .btn-blue{
        font-size: 12px;
            padding: 10px 10px;
    }
    .modal-new .modal-dialog .modal-body{
        padding: 15px;
    }
    .modal-new .modal-dialog .modal-header{
         padding: 15px;
    }
    .modal-new .modal-dialog .modal-header .close{
            right: 30px;
    top: 35px;
    }
    .menu-bar .navbar-nav li a.nav-link{
        text-align: left;
        padding: 10px 0;
    }
    .navbar-collapse{
        position: relative;
    }
    .sl-nav-ul{
        position: absolute;
        top: 0;
        right: 0;
    }
    .menu-bar .form-inline{
        width: 100%;
    }
    .border-btn{
        font-size: 14px;
    }
    .menu-bar.next-mnu-ber .form-inline{
        width: 100%;
    }
    .video-frame2{
    padding: 40px 0 0;
}
.login-pnl .col-sm-12.col-md-6.col-lg-8.pl-5{
    padding-left: 15px !important;
    padding-top: 30px;
}
.iframe-video.pl-5{
     padding-left: 0 !important;
}
.login-pnl{
    padding: 80px 0;
}
.table-desktop-style .dataTables_filter{
        width: 180px;
}
.balance-box .align-items-center{
    align-items: flex-start !important;
}
.form-style1 form .form-group label{
    font-size: 14px;
}
.afford-to-pay .col-sm-12.col-md-6.pr-5 {
    padding-right: 15px !important;
    margin-bottom: 25px;
}
.label-relative{
    text-align: left;
}
.sl-nav-ul li:hover ul{
    right: 0;
}
.sl-nav-ul li:hover .triangle{
    right: 0;
}
.sl-nav-ul li ul li{
    width: 100% !important;
    padding: 10px 15px !important;
}
.w-25-1.select.active span::after{
    width: 99px;
}
}
 
